@import "../../../css-config/mixins.scss";
// .hero-banner {
//     padding: 40px 0;
//     position: relative;
//     background: black;
//     @include md {
//         height: calc(100vh - 80px);
//     }
//     .content {
//         height: 100%;
//         display: flex;
//         justify-content: flex-end;
//         align-items: center;
//         flex-direction: column-reverse;
//         // max-width: calc(100% - 20px);
//         margin: 0 auto;
//         position: relative;
//         @include md {
//             flex-direction: row;
//             // max-width: 1200px;
//         }
//         .banner-img {
//             // position: relative;
//             z-index: 9;
//             width: 100%;
//             // margin-bottom: 20px;
//             @include md {
//                 width: 100%;
//                 margin-right: 60px;
//                 margin-top: 50px;
//                 margin-bottom: 0;
//             }
//             @include xxl {
//                 width: 500px;
//                 margin-right: 0;
//                 margin-top: 0;
//             }
//         }
//         .text-content {
//             color: white;
//             text-align: center;
//             display: flex;
//             flex-direction: column;
//             align-items: center;
//             @include md {
//                 position: absolute;
//                 left: 50px;
//                 top: 50%;
//                 transform: translateY(-50%);
//             }
//             @include xxl {
//                 left: 0;
//             }
//             h1 {
//                 font-size: 80px;
//                 font-weight: 700;
//                 line-height: 1;
//                 color: white;
//                 margin-bottom: 20px;
//                 @include md {
//                     font-size: 180px;
//                 }
//             }
//             p {
//                 max-width: 300px;
//                 font-size: 14px;
//                 line-height: 20px;
//                 margin-bottom: 20px;
//                 @include md {
//                     max-width: 500px;
//                     font-size: 18px;
//                     line-height: 24px;
//                     margin-bottom: 40px;
//                 }
//             }
//             .ctas {
//                 display: flex;
//                 justify-content: center;
//                 gap: 20px;
//                 .banner-cta {
//                     text-transform: uppercase;
//                     font-size: 13px;
//                     font-weight: 500;
//                     width: fit-content;
//                     border: 2px solid white;
//                     padding: 10px 20px;
//                     transition: all ease 0.3s;
//                     cursor: pointer;
//                     &.v2 {
//                         background-color: white;
//                         color: black;
//                     }
//                     &:hover {
//                         opacity: 0.6;
//                     }
//                 }
//             }
//         }
//     }
// }


.heromain {
    color: white;
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
    background-color: black;
    flex-direction: column-reverse;
    @include md {
        flex-direction: row;
        height: calc(100vh - 120px);
    }
    .left {
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include md {
            height: 100%;
            width: 50%;
        }
        .car-container {
            width: 30%;
            height: 30%;
        }
        .heromain-text {
            font-size: 14px;
            text-align: center;
            margin: 10px 60px 30px 60px;
            @include md {
                margin: 10px 40px;
            }
        }
        .hype {
            position: relative;
            font-size: 60px;
            top: 30px;
            @include md{
                top: 85px;
                font-size: 140px;
                margin-bottom: 0;
                margin-left: 50px;
                z-index: 90;
            }
            ;
        }
    }
    .right {
        width: 100%;
        height: 50%;
        @include md {
            height: 100%;
            width: 50%;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }

    
}