@import "../../css-config/mixins.scss";
.single-product-main-content {
    margin: 20px 0;
    @include md {
        margin: 75px 0;
    }
    .layout {
        max-width: calc(100% - 20px);
        margin: 0 auto;
        @include md {
            max-width: 1200px;
        }
        .single-product-page {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            @include md {
                flex-direction: row-reverse;
            }
            .left {
                width: 100%;
                background-color: rgba(0, 0, 0, 0.05);
                flex-shrink: 0;
                @include md {
                    width: 600px;
                    height: 600px;
                }
                img {
                    width: 100%;
                    display: block;
                }
            }
            .right {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding-top: 20px;
                @include md {
                    padding: 0 35px;
                }
                .indicator {
                    background-color: orange;
                    width: 20%;
                    font-size: 14px;
                    text-align: center;
                    padding: 5px 0;
                    border-radius: 30px;
                    margin-bottom: 20px;
                }
                .name {
                    font-size: 20px;
                    line-height: 28px;
                    margin-bottom: 20px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    letter-spacing: 5px;
                    @include md {
                        font-size: 50px;
                        margin-bottom: 0;
                        line-height: 100px;
                    }
                }
                .review {
                    display: flex;
                    width: 50%;
                    justify-content: space-around;
                    align-items: center;
                    @include md{
                    margin-bottom: 30px;
                    }
                .stars {
                    font-size: 24px;
                }
                .number {
                    margin-top: 3px;
                    text-decoration: underline;
                }
                }
                .price {
                    font-size: 40px;
                    font-family: 'Times New Roman', Times, serif;
                    line-height: 32px;
                    margin-top: 5px;
                }
                .desc {
                    font-size: 14px;
                    line-height: 20px;
                    margin-bottom: 20px;
                    color: #6b6b6b;
                    @include md {
                        font-size: 16px;
                        line-height: 24px;
                        width: 50%;
                        text-align: center;
                    }
                }

                .cart-buttons {
                    display: flex;
                    @include md {
                        margin-top: 30px;
                    }
                    .quantity-buttons {
                        width: fit-content;
                        display: flex;
                        border: 2px solid black;
                        margin-right: 5px;
                        height: 60px;
                        span {
                            font-size: 22px;
                            font-weight: bold;
                            width: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
                            color: black;
                            font-family:'Times New Roman', Times, serif;
                            &:nth-child(1) {
                                border-right: none;
                            }
                            &:nth-child(2) {
                                width: 30px;
                            }
                            &:nth-child(3) {
                                border-left: none;
                            }
                        }
                    }
                    .add-to-cart-button {
                        outline: 0;
                        border: 0;
                        height: 60px;
                        width: 280px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        font-size: 16px;
                        color: white;
                        background: black;
                        border-bottom: 3px solid black;
                        flex-grow: 1;
                        @include md {
                            flex-grow: unset;
                        }
                        svg {
                            margin-right: 10px;
                        }
                    }
                }

                .divider {
                    margin: 20px 0;
                    height: 1px;
                    width: 100%;
                    background-color: rgba(0, 0, 0, 0.1);
                }

                .info-item {
                    .text-bold {
                        font-size: 18px;
                        font-weight: 500;
                        display: block;
                        &:nth-child(1) {
                            margin-bottom: 20px;
                        }
                        span {
                            font-size: 16px;
                            font-weight: 400;
                            cursor: pointer;
                            color: #6b6b6b;
                        }
                        .social-icons {
                            display: flex;
                        }
                        svg {
                            margin: 0 5px;
                        }
                    }
                }
            }
        }
    }
}
